body {
  margin: 0;
  font-family: Helvetica;
  background-color: #282828;
  color: white;
  user-select: none;
}

h1 {
  text-align: center;
}

#animation {
  height: 150px;
}

#circle {
  height: 25px;
  width: 25px;
  background-color: aqua;
  border-radius: 50%;
  display: inline-block;
  /*animation-name: circleAnimation;
  animation-duration: 5s;*/
}

@keyframes circleAnimation {
  0% {
    background-color: aqua;
    position: relative;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: aquamarine;
    position: relative;
    left: 150px;
    top: 0px;
  }
  50% {
    background-color: blueviolet;
    position: relative;
    left: 150px;
    top: 100px;
  }
  75% {
    background-color: bisque;
    position: relative;
    left: 0px;
    top: 100px;
  }

  100% {
    background-color: aqua;
    position: relative;
    left: 0px;
    top: 0px;
  }
}

#randomColorContainer {
  height: 250px;
  border: 3px solid black;
  text-align: center;
}

.event {
  margin: 100px;
  background-color: #dcd3ff;
  color: black;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
}

#hoverEventText {
  font-size: 20px;
}

.hoverEventButton {
  background: none;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px;
}

.hoverEventButton:hover {
  cursor: pointer;
  background-color: rgb(192, 255, 234);
}

.focusEvent span {
  font-size: 17px;
}

.focusEvent input {
  width: 200px;
  margin: 5px;
  padding: 5px;
  font-size: 17px;
}
